html, body, #container{
    height: 100%;
    width: 100%;
}

#map{
    float: left;    
    height: 100%;
    width: 75%;
}

#spacer{
    float: left;
    height: 100%;
    width: 5%;
}

#controls{
    float: left;
    width: 20%;
}

.leaflet-control-zoom-in {
    background-image: url(../images/zoom-in.png);
    margin-bottom: 5px;
}
.leaflet-control-zoom-out {
    background-image: url(../images/zoom-out.png);
}

#template_feature_form, #template_feature {
    display: none;
}
